#chartGasoline .chart-plot-background {
    -fx-background-color: #F5FFF7;
}
#chartGasoline .chart-vertical-grid-lines {
    -fx-stroke: #DAF5DF;
}
#chartGasoline .chart-horizontal-grid-lines {
    -fx-stroke: #DAF5DF;
}
#chartGasoline .chart-alternative-row-fill {
    -fx-fill: #fff;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

#chartDiesel .chart-plot-background {
    -fx-background-color: #F5F8FF;
}
#chartDiesel .chart-vertical-grid-lines {
    -fx-stroke: #DAE3F5;
}
#chartDiesel .chart-horizontal-grid-lines {
    -fx-stroke: #DAE3F5;
}
#chartDiesel .chart-alternative-row-fill {
    -fx-fill: #fff;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
